
main section table thead {
	text-align:right;
	color:#602d90;
	font-size: 24px;
}

main section table thead th:nth-of-type(1), 
main section table thead th:nth-of-type(2) {
	text-align:left;

}
main section #subtotals {
		padding: 20px;
		width: 100%;
		font-size: 16px;
		background: #fff;
		text-align:  right;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
td::-webkit-scrollbar {
	width: 10px;
	background:#ff9d00;
}
td::-webkit-scrollbar-thumb {
	background:white;
	border:1px solid;
}
main section #subtotals td:nth-of-type(2) p {
	margin: 0;
}
#subtotals td[colspan='4'] {
	text-align:right!important;
}
#subtotals td[colspan='4']+td:nth-of-type(2) {
	border-bottom: 1px dashed;
}
#subtotals td[colspan='3']+td:nth-of-type(2):before{
	content:'£ ';
}
#subtotals button {
	min-width: 40px;
	background: #d35013;
	border:  1px solid;
	font-size: 26px;
	transition:  background 0.2s;
	margin: 0 6px 0 0;
}
#subtotals button:hover {	
background: #fed795;
}
#subtotals button{
	font-size:0;
}
#subtotals button#deleteItem:after {
	content: url('../img/cartDelete.svg');
	font-size:  0;
}
#subtotals button:nth-of-type(1):after {
	content: url('../img/cartMinus.svg');
	font-size:  0;
}
#subtotals button:nth-of-type(2):after {
	content: url('../img/cartAdd.svg');
	font-size:  0;
}
main section #subtotals td:nth-of-type(4):before,
main section #subtotals td:nth-of-type(3):before {
	content:'£ ';
}
@media (min-width: 560px)and (max-width: 739px) {
	header form {
		margin-top: 0;
	}
	header form fieldset {
		margin: 0 10px;
	}
}