body {
	font-family: sans-serif;
	margin: 0;
	background: url('../img/bgpattern.svg');
}

cite {
	font-weight: bold;
}

header svg {
	width: 175px;
	height: 140px;
}

/* .st0 {
  fill: rgb(45, 23, 71);
}

.st1 {
  fill: rgb(39, 65, 96);
}

.st2 {
  fill: rgb(211, 81, 18);
}
.st3 {
  fill: rgb(154, 2, 26);
} */
body > section {
  /* display:  block; */
  float:  left;
  width:  100%;
  background:  white;
  margin: -5px auto;
}

body > section figure {
	width:50%;
	float:left;
	margin: 0;
}
body > section figure figcaption {
	position:absolute;
	left:-1000%;
}
body > section > section {
  padding: 10px;
  width: calc(50% - 20px);
  float:  left;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  background:  white;
  padding: 10px;
  min-height: 700px;
  /* display: inline-block; */
  margin-top: -4px;
}
header > a {
	display:  block;
	/* margin: 0 auto; */
	text-align:  center;
	margin: 0 auto;
	margin-top: -30px;
	/* width:  50%; */
}
a:link,a:visited {
	text-decoration: none;
	color: #274060;
}

.contact a:link, #shoppingcart a:link,#shoppingcart a:visited {
	color: #0f0f0d;
}

nav a:link, nav a:visited, header a:link, header a:visited, #shoppingcart a:hover {
	color: #2e1846;
}

nav a:last-child:after {
	content: ' ';
	display: none;
}

nav a:hover:after {
	color: #fff;
}
a:hover {
}

nav > aside {
  float:  right;
  padding: 5px;
}


header > nav > a:hover {
  background: #274060;
  color: #e0e5e0;
}

header > nav > section {
  position: absolute;
  top: 5px;
  right: 10px;
}

figure#banner {
	width:100%;
	margin: 0;
	padding:  0;
	float:  left;
}

header {
	background: #ffffff;
	z-index: 100;
	width: 100%;
	display: inline-block;
	min-height: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.22);
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.22);
}


header form {
	width: calc(100%);
	display: inline-block;
	/* margin-right: 100px; */
	margin-top: 40px;
	/* height:  35px; */
}

header form fieldset legend {
	position:  absolute;
	left: -200%;
}

header form input {
	padding: 6px;
	width: calc(100% - 96px);
	margin: 0;
	background: #fafaff;
	border: 1px solid #7d7d7d;
	padding: 11px 5px;
	border-radius: 5px  0px 0px 5px;
	float:  left;
}
header form input:focus,
header form button:focus {
	outline: 0px solid #602d90;
	background: #fed795;
	border-color: #ff9d00;
}

header form button {
	padding: 11px 20px;
	background: white;
	border: 1px solid #602d90;
	margin: 0;
	box-sizing: border-box;
	border-radius: 0px 5px 5px 0px;
	float:  left;
	border-left: none;
	transition: all 0.2s;
}

header form button:hover {
	background:#ffeea9;
}



header form fieldset {
	border:none;
	padding: 0;
	/* float: left; */
	/* width: 100%; */
	margin: 20px 10px;
	color: #0f0f0d;
}

header form label {
	position: absolute;
	left: -1000%;
}

#aoptions {
  /* position: absolute; */
  /* width: 200px; */
  /* height:  100px; */
  background: #d35013;
  z-index: 122;
  /* top: 84px; */
  /* margin: -10px calc(5% + 134px) 0px 5%; */
  display:  block;
  color:  white;
}

#aoptions a {
  display: inline-block;
}

#aoptions a img {
	width:50px;
}

nav#skipnavigation {
	background: #ffffff;
	height: 35px;
	padding: 5px;
}

nav#categories a:after{
	/* content: ''; */
}

#categories {
	/* float: right; */
	padding: 0;
	/* line-height: 20px; */
	color: #fff;
	z-index: 0;
	/* width: 100%; */
	/* background: #fed795; */
	/* margin: 0 auto; */
	text-align:  center;
	display:  block;
	background: #ffffff;
	/* padding: 3px 0; */
	margin: 10px 0;
	/* margin-left: 0; */
	border-top: 1px solid #7d7d7d;
	border-bottom: 1px solid #7d7d7d;
}

#featured > figure {
	float: left;
	width: calc(25% - (1em + 40px));
	margin: 0.5em;
	background: #fed795;
	padding:  20px;
}

#featured > figure > figCaption {
	text-align: center;
}


main article {
	clear:  both;
	margin: 5px;
	padding: 10px;
	background: #602d90;
	color: #fff;
}	

article a:link, article a:visited {
	color:#eef;
}

article h4 span {
  font-size: 38px;
  float: left;
  padding: 0 3px;
  margin: -10px 11px -9px -8px;
  /* display: inline-block; */
}

article h4 {
  font-family:  inherit;
}

header a > img {
	left: 1px;
	border:0;
	/* z-index: 0; */
	/* transition: max-width 0.2s; */
	/* max-width: 70px; */
	/* display: block; */
	/* float:  left; */
	margin: 5px;
}
/* css fallback font */
header h1 {
	font-size: 1.5em;
	margin: 0 auto;
	color: #274060;
	/* display: inline-block; */
	margin-top: -24px;
	text-align:  center;
	width: 50%;
	/* backdrop-filter: blur(1px) brightness(108%); */
}

header > nav > a {
	color: #0f0f0d;
	width: 14%;
	display: inline-block;
	/* text-align: center; */
	/* border-left: 1px solid; */
	/* box-sizing:  border-box; */
	/* padding: 4px; */
	padding: 8px 0;
	margin: 0 auto;
	/* float:  left; */
	transition:  all 0.2s;
}

figure#banner figcaption {
	position:  absolute;
	left:  -1000%;
	/* color: #fff; */
}

img#homebanner {
	width: 100%;
	height: auto;
	max-width:  100%;
}

nav#categories,nav#footernav a {
	text-decoration: none;
}

section#featured img {
	width: 100%;
}

#maincontent {
	max-width: 1600px;
	margin: 0 auto 10px;
}

section#aboutus {
	background: #602d90;
	color: #fff;
}

section#reviews {
	background: #B00C12;
	color: #fff;
	width: calc(100% - 40px);
}

section#ratings {
	background: #602d90;
	color: #fff;
	width: calc(100% - 40px);
	margin-bottom:20px;
}

section#reviews,
section#ratings,
section#featured,
section#aboutus {
	float: left;
	padding: 20px;
	/* margin-bottom: 20px; */
}

section#featured {
	background: #ff9d00;
}

	

nav#skipnavigation {
	font-size: 1em;
}


header aside {
	z-index: 100;
	height: 40px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
	/* background: #274060; */
	margin-right: 0;
	width: 160px;
	/* float: right; */
	transition:  background 0.2s;
}

header aside:before {
	content: url('../img/cart.svg');
	float: left;
	cursor:  pointer;
	height: 40px;
	transition:  background 0.2s;
	margin-top: 0;
	z-index:  100;
	margin-left: 0;
	padding-bottom: 10px;
}

aside:hover, aside:hover+h2, aside:hover~table {
	background: #e0e5e0;
	color: #274060;
}

aside.expanded:hover {
	background: #2e1846;
	color: #e0e5e0;
}


header aside button {
	opacity:0;
}
header aside.expanded button {
	opacity:1;
}

aside.expanded:before {
	/* content:'x'; */
	font-size: 21px;
	padding:0;
	top:0;
	float: right;
	cursor: pointer;
}

aside.expanded a:link, aside.expanded a:visited,aside.expanded > button {
	position: absolute;
	/* bottom: 34px; */
	/* right: 20px; */
	color: #000;
	background:  none;
	top: 10px;
	padding:  10px;
	background:  white;
	right: 71px;
	font-size:  1em;
}

#checkout input[type='submit'], .product section form > input, aside.expanded > button {
	float:  right;
	padding:10px;
	margin: 10px 4px;
	max-width: 150px;
	float: right;
	background: #2e1846;
	border: 1px solid #0f0f0d;
	font-size:  90%;
	color: #e0e5e0;
}

aside.expanded > button {
	right: 161px;
	/* padding:0; */
	top: 0;
}

aside.expanded a:link:after  {
	content:'';
	background:none;
	width:auto;
	height:auto;
}
header aside.expanded {
	overflow: auto;
	height: auto;
	padding: 10px;
	margin-right: 0;
	/* cursor:  inherit; */
	transition: height 0.2s;
	/* box-shadow: inset 0px 0px 141px 0px rgba(255, 157, 0, 0.23); */
	width: 460px;
	background: #abaeb0;
}

aside h2,aside h3 {
	font-size: 1em;
	margin: 5px 5px 0 10px;
	border-bottom: 1px solid #6a4701;
	padding-bottom: 24px;
	float:  left;
}

aside table {
	width: 100%;
	padding: 8px;
	margin-bottom: 20px;
	/* color: #2e1846; */
}

aside td[colspan='3'] {
	max-height: 0;
	border: 1px solid #333;
	margin: 5px;
	padding:  5px;
	background: #fed795;
	font-size:  75%;
	max-width:  150px;
	overflow:  auto;
}
aside td[colspan='2']:before {
	/* content:'note: '; */
	color:#333;
}

aside table tfoot td {
	font-size: 18px;
	text-align:  right;
}

aside table td:nth-of-type(3) {
	text-align:  right;
	width: 85px;
}

aside table td:nth-of-type(4) {
	text-align:  right;
	width: 62px;
}
aside table td:nth-of-type(4) button {
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0px 1px 0 0px;
	border: 1px solid #0f0f0d;
	color: #fff;
	background: #421f63;
	transition:  background 0.2s;
	font-size: 23px;
}

aside div {
	width: 18px;
	height: 18px;
	display:  block;
	background: #B00C12;
	position:  absolute;
	border-radius: 10px;
	/* border: 1px solid #ee1118; */
	right:2px;
	top: 9px;
	transition: all 0.2s;
	/* margin: 1px; */
	font-size: 14px;
}

aside div p {
	margin: 1px auto;
	padding: 2px 0;
	color: #fff;
	text-align:  center;
	font-weight: bold;
}
aside.expanded div {
		/* right: 50px; */
		/* top: 14px; */
		/* width: 72px; */
		/* height: 27px; */
		border-radius:  5px;
}

aside.expanded div p:before {
	content: '';
	/* margin-left:5px; */
}

aside.expanded div p:after {
	content: ' ';
}

aside table td:nth-of-type(3):before {
	content: '£';
	margin-right: 3px;
}

aside table tfoot td:before {
	content: 'Subtotal: £';	
}

main section form input[type='text'],
main > form input, main > form textarea {
	width: calc(100% - 180px);
	float:  right;
	padding: 10px;
	margin: 10px;
}

.product section form > input, main > form input[type='submit'] {
	max-width: 150px;
	float:right;
	background: #2e1846;
	border: 1px solid #0f0f0d;
	padding: 10px;
	margin: 14px 10px;
	color: #e0e5e0;
}

main.contact section form label,
main > form label,#checkout label {
	float: left;
	text-align:  right;
	width: 120px;
	padding-bottom: 29px;
	padding-top: 18px;
	clear: left;
	max-width:  195px;
}

main section #checkout {
	background:  white;
	float:  left;
	width: calc(100% - 40px);
	padding: 20px;
}



footer {
	float:left;
	width:100%;
	background: #fea;
	/* color: #fff; */
}

footer > * {
	padding: 20px 10px;
}

footer > img {
	padding: 20px 0;
	float:left;
	width: 100px;
}

footer > section {
	padding: 0 10px;
	float:left;
	width: calc(100% - 120px);
}

footer nav {
	float:left;
	width: calc(100% - 140px);
}

@media (min-width: 0px) and (max-width: 559px)  {

body > section > section h2 {
	font-size:90%;
	margin:5px auto;

}
	header {
		position:  fixed;
		top: 0;
	}

	header > div {
		width: 100%;
		float: left;
		height: 0;
		background: transparent;
	}
	header > nav > section {
		position:relative;
		float: right;
		/* right: 0; */
		left: 0;
		width: calc(100% - 50px);
		/* text-align:  right; */
	}
	header > nav > section > nav {
		display:block;
		width: calc(100%);
		float:  right;
	}

	header form.expanded fieldset {
		border:none;
		padding: 0;
		float: left;
		width: calc(100% - 50px);
		margin: 5px auto;
	}

	header aside.expanded {
		width: calc(100% - 20px);
		z-index:  110;
		position:  relative;
		color: #2e1846;
		float:  left;
		overflow-y: auto;
		max-height: calc(100vh - 100px);
		padding-bottom: 25px;
	}
	header aside {
		width: 40px;
	}
	header aside button {
		opacity:0;
	}
	header aside.expanded button {
		opacity:1;
	}
	aside > a:link {
		position:absolute;
		top:0px;
		right:0;
		font-size:0;
		/* display:  none; */
	}
/* 	aside > a:after {
		content: url('../img/checkout.svg');
		position:absolute;
		top:5px;
		right:5px;
		opacity:1;
		font-size:16px;
		width:30px;
		height:30px;
	} */

	aside div {
		width: 16px;
		height: 16px;
		top: 0;
		right: 0;
	}
	aside div p {
		font-size: 14px;
		margin: 0;
		padding: 1px 0;
	}

	aside.expanded div {
		right: 8px;
		top: 50px;
		width: 49px;
		height: 19px;
		border-radius:  5px;
		text-align:  center;
	}
	aside h2 {
		display: none;
	}

	figure#banner {
		margin: 0  0 -4px 0;
		/* width: 100%; */
		/* z-index:  1000; */
	}

		section#featured > figure {
		width: calc(100%  - 4em);
		margin: 1em;
 	}
	
	 section#featured img {
		width: 100%;
	}
	
	nav#categories.expanded {
		width: 100%;
		font-size: 14px;
		margin: 0;
		height: 411px;
		padding: 0;
		z-index: 100;
		/* padding-bottom: 13px; */
		position:  relative;
		right: 0;
		cursor:  inherit;
		/* transition: height 0.2s,height 0.2s, left 1s, position 0.1s; */
		background: #e0e5e0;
		left: 0;
		/* z-index: 125; */
		transition: height 0.1s 0.2s, width 0.1s 0.1s, left 0.2s 0.01s, background 0.1s 0.1s;
	}

	header form fieldset {
		margin: 40px auto;
	}

	form.expanded fieldset button {
	  /* position:  absolute; */
	  /* left: -1000%; */
	}

	form.expanded:before,
	aside.expanded:before, 
	nav#categories.expanded:before {
		/* 		content: 'X'; */
		font-size: 18px;
		padding: 3px;
		top:0;
		float: right;
		cursor: pointer;
		line-height: 21px;
		height: 40px;
	}
	aside.expanded:before {
		content: url('../img/cart.svg');
		
	}

	form.expanded:before {
		content: url('../img/search.svg');
	}

	nav#categories a:after, header .entryForm:before {
		content: '';
		/* position:  absolute; */
		/* left: 0; */
	}
	header > nav > a {
		width: calc(100% - 50px);	
	}
	header > nav > section > nav > a {
		width:100%;
		/* padding: 0!important; */
		margin: 0;
	}
	header > nav > a, header > nav > section > nav > a {
		/* display:  block; */
		text-align: center;
		padding: 6px 0;
		font-size: 1.5em;
		float: left;
		color: #0f0f0d;
		background: #fea;
	}
	header > nav.expanded > a, header > nav.expanded > section > nav > a {
		float:right;
		border-bottom: 1px solid #0f0f0d;
		background: #e0e5e0;
	}
	header > nav.expanded > a:hover {
		background: #2e1846;
	}
	header > nav > section > nav > a:hover {
		background: #274060;
		color: #e0e5e0;
	}

/* https://css-tricks.com/using-multi-step-animations-transitions/ */
	nav#categories {
		width: 100%;
		overflow: hidden;
		height: 50px;
		text-align: left;
		/* background: #274060; */
		position: absolute;
		left: calc(-100% + 50px);
		top: 0;
		cursor:  pointer;
		transition: none;
		margin: 0;
		padding:  0;
		border: 0;
	}

	nav#categories:before {
		content: url('/img/menu.svg');
		height: 40px;
		margin: 5px 5px;
		padding:  0;
		float:  right;
	}
	
	nav#categories:hover {
		background: #274060;
		/* left: calc(-100% + 45px); */
		/* height: 70px; */
	}
	nav#categories.expanded:hover {
		background: #274060;
		left:  0;
	}
	nav#categories.expanded:before,
	nav#categories.expanded:hover:before {
		float:left;
		font-size:  40px;
		content:  '-';
	}

	nav#categories:hover:before {
		/* content: url('../img/menuHover.svg'); */
		height: 30px;
	}
	header > a {
		margin:  0 auto;
		display:  inline-block;
		margin-left: 50px;
	}
	header svg {
		height: 46px;
		width: 100px;
		margin-top: 2px;
		margin-bottom: -2px;
	}

	h1 {
		position:  absolute;
		left: -1000%;
	}
	h1:before{
	}
	nav#skipnavigation {
		display:none;
	}

	main, #maincontent {
		padding: 0;
		background: none;
		margin-top: 40px;
	}	
	header a > img {
		height: 40px;
		/* margin-left: 43px; */
		margin: 0 0 -6px;
	}
	
	header form {
		padding: 5px;
		/* display: inline-block; */
		z-index: 20;
		float: right;
		margin-right: 0;
		margin-top: 0;
		position: absolute;
		width: 40px;
		overflow:  hidden;
		height: 40px;
		top: 0;
		right: 50px;
		cursor:  pointer;
		transition:background 0.2s;
	}

	header form:before {
		content:url('../img/search.svg');
		height: 40px;
		padding-bottom: 30px;
	}

	header form:hover {
		background: #274060;
	}

	header form.expanded:hover {
		background: #274060;
	}

	header form:hover:before {
		content: url('../img/search.svg');
	}

	header form input {
		float: left;
		width: calc(100% - 100px);
	}

	header form label {
		/* position: absolute; */
		font-size: 0;
		left: auto!important;
	}
	
	form.expanded {
		z-index:110;
		right:0;
		width: calc(100% - 20px);
		height: 48px;
		padding: 10px;
		position: relative;
		cursor:  inherit;
		color: #fff;
		transition: background 0.2s, height 0.2s;
		background: #e0e5e0;
		left: 0;
	}

}

@media (min-width: 560px)and (max-width: 739px) {

	header > nav > a {
		width: calc(20% - 4px);
	}
	nav#categories {
		font-size: 16px;
	}

	header svg {
	  	width: 70px;
	  	height: 65px;
	  	position:absolute;
	  	top: -5px;
	  	left: 119px;
	}


	
	header aside {top: 30px;width: 40px;}
	
	header aside table {
		padding-top: 30px;
	}

	header aside.expanded  {
		min-width: 50%;
	}
	header form label {
	  	/* font-size: 0; */
	  	/* left: 0!important; */
	}



}


@media (min-width: 740px) and (max-width: 1199px) {
	#maincontent {
		background:none;
	}

	header svg {
	 	width: 190px;
	 	height: 145px;
	 	/* position: absolute; */
	 	/* top: 20px; */
	 	/* left: 20px; */
	 	transition: all 0.3s;
	}
	header > a {
		float:left;
		/* background: #ffffff; */
	}
	header aside {
		width: 190px;
		top: 40px;
	}
	header form {
		width:50%;
		margin:  2% auto;
		display:  block;
	}

}

@media (min-width: 1200px) {

	header > a {
		/* display:  inline-block; */
		padding-left: 20px;
		float:  left;
		/* background: #fff; */
	}
  	header form {
		width: calc(100% - 195px);
		display: block;
		margin: 10px auto;
	}

	header > div {
	display:  none;
	}

	header form fieldset {
		margin: 5px;
		/* color: #fff; */
		/* position:  absolute; */
		/* top:  30px; */
		width: calc(100% - 230px);
		/* left: 20px; */
		text-align: left;
	}

	#aoptions {
		/* width: 20%; */
		display:  block;
		margin: 0 auto;
	}

	header aside {
		width: 190px;
		top: 30px;
	}
	header aside.expanded {
		width: 40%;
		top: 30px;
	}	

	nav#categories {
		/* clear: none; */
		/* float: right; */
		background: #e0e5e0;
		/* padding: 3px 0; */
		/* margin: 10px 0; */
		/* margin-left: 0; */
		/* border-top: 1px solid #7d7d7d; */
		/* border-bottom: 1px solid #7d7d7d; */
	}


}