body {
	font-family: sans-serif;
	margin: 0;
	background: url('../img/bgpattern.svg');
}

cite {
	font-weight: bold;
}

header svg {
	height: 90px;
	margin: 5px;
}

svg > * {
	transition:all 0.3s;
}

svg:hover path.st0,
svg:hover path.st1,
svg:hover path.st2 {
  fill: #e0e5e0;
}

body > section {
  float:  left;
  width:  100%;
  background:  white;
  margin: -5px auto;
}

body > section figure {
	width:50%;
	float:left;
	margin: 0;
}
body > section figure figcaption {
	position:absolute;
	left:-1000%;
}
body > section > section {
  padding: 10px;
  width: calc(50% - 20px);
  float:  left;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
  min-height: 700px;
  margin-top: -4px;
}

main#terms {
  background: white;
}

header > a {
	text-align:  center;
	margin: 0 auto;
}
a:link,a:visited {
	text-decoration: none;
}

.contact a:link, #shoppingcart a:link,#shoppingcart a:visited {
	color: #0f0f0d;
}

nav a:link, nav a:visited, header a:visited, #shoppingcart a:hover {
	color: #2e1846;
}

nav a:last-child:after {
	content: ' ';
	display: none;
}

#categories > section nav a:hover:after {
	background: rgb(154, 2, 26);
}
a:hover {
}

nav > aside {
  float:  right;
  padding: 5px;
}


header > nav > a:hover {
  background: #2e1846;
  color: #e0e5e0!important;
}

header > nav > section {
  position: absolute;
  top: 5px;
  right: 10px;
}

figure#banner {
	margin: 0;
	padding:  0;
}

header {
	background: #e0e5e0;
	z-index: 100;
	border-bottom: 1px solid rgba(0, 0, 0, 0.22);
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.22);
}


header form {
	width: calc(100%);
	display: inline-block;
}

header form fieldset legend {
	position:  absolute;
	left: -200%;
}

header form input {
	padding: 6px;
	width: calc(100% - 96px);
	margin: 0;
	background: #fafaff;
	border: 1px solid #7d7d7d;
	padding: 11px 5px;
	border-radius: 5px  0px 0px 5px;
	float:  left;
}
header form input:focus,
header form button:focus {
	outline: 0px solid #602d90;
	background: #fed795;
	border-color: #ff9d00;
}

header form button {
	padding: 11px 20px;
	background: white;
	border: 1px solid #602d90;
	margin: 0;
	box-sizing: border-box;
	border-radius: 0px 5px 5px 0px;
	float:  left;
	border-left: none;
	transition: all 0.2s;
}

header form button:hover {
	background:#ffeea9;
}

header form fieldset {
	border:none;
	padding: 0;
	margin: 10px 5px;
	color: #0f0f0d;
}

header form label {
	position: absolute;
	left: -1000%;
}

#aoptions {
  background: #d35013;
  z-index: 122;
  display:  block;
  color:  white;
}

#aoptions a {
  display: inline-block;
}

#aoptions a img {
	width:50px;
}

nav#skipnavigation {
	background: #e0e5e0;
	height: 20px;
	padding: 5px;
}


#categories {
	text-align:  center;
	background: #fafaff;
	border-top: 1px solid #7d7d7d;
	border-bottom: 1px solid #7d7d7d;
}

#featured > figure {
	width: calc(25% - 60px);
	margin: 0.5em;
	background: #2e1846;
	padding:  20px;
	display:  inline-block;
}

#featured > figure > figCaption {
	text-align: center;
	color: #e0e5e0;
}

#blog h3 {
	background:#e0e5e0;
	padding:10px;
}

main article {
	clear:  both;
	margin: 5px;
	padding: 10px;
	background: rgb(45, 23, 71);
	color: #e0e5e0;
}	

article a:link, article a:visited {
	color:#eef;
}

article h4 span {
  font-size: 38px;
  float: left;
  padding: 0 3px;
  margin: -4px 0px -4px -7px;
}

article h4 {
  font-family:  inherit;
}

header a > img {
	left: 1px;
	border:0;
	margin: 5px;
}
header h1 {
	color: #274060;
	display: inline-block;
	margin: 5px;
	width: 50%;
}

header > nav > a {
	color: #0f0f0d;
	width: 14%;
	display: inline-block;
	padding: 15px 0;
	margin: 0 auto;
	transition: all 0.3s;
}

figure#banner figcaption {
	position:  absolute;
	left:  -1000%;
}

img#homebanner {
	width: 100%;
}

nav#categories,nav#footernav a {
	text-decoration: none;
}

nav#categories h2 {
  position:  absolute;
  left:  -1000%;
}

#categories > section nav a {
	color:#2e1846;
}

#categories > section nav a:after {
}

section#featured img {
	width: 100%;
}

#maincontent {
	max-width: 1600px;
	margin: 0 auto 10px;
}

section#about {
	background: #274060;
	color: #fff;
}

#about a:link, #about a:visited {
	color:#fff;
	font-weight:bold;
}

section#reviews {
	background: rgb(154, 2, 26);
	color: #e0e5e0;
}

section#ratings {
	background: #2e1846;
	color: #e0e5e0;
	width: calc(100% - 40px);
	margin-bottom:20px;
}

section#reviews,
section#ratings,
section#featured,
section#about {
	padding: 20px;
}

section#featured {
	background: #e0e5e0;
}

	

nav#skipnavigation {
	font-size: 1em;
}


header aside {
	z-index: 100;
	height: 40px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
	margin-right: 0;
	width: 160px;
	transition:  background 0.2s;
}

header aside:before {
	content: url('../img/cart.svg');
	float: left;
	cursor:  pointer;
	height: 40px;
	transition:  background 0.2s;
	margin-top: 0;
	z-index:  100;
	margin-left: 0;
	padding-bottom: 10px;
}

aside:hover, aside:hover+h2, aside:hover~table {
	background: #e0e5e0;
	color: #274060;
}

aside.expanded:hover {
	background: #2e1846;
	color: #e0e5e0;
}


header aside button {
	opacity:0;
}
header aside.expanded button {
	opacity:1;
}

aside.expanded:before {
	font-size: 21px;
	padding:0;
	top:0;
	float: right;
	cursor: pointer;
}

aside.expanded a:link, aside.expanded a:visited,aside.expanded > button {
	position: absolute;
	color: #000;
	background:  none;
	top: 10px;
	padding:  10px;
	background:  white;
	right: 71px;
	font-size:  1em;
}

#checkout input[type='submit'], .product section form > input, aside.expanded > button {
	float:  right;
	padding:10px;
	margin: 10px 4px;
	max-width: 150px;
	float: right;
	background: #2e1846;
	border: 1px solid #0f0f0d;
	font-size:  90%;
	color: #e0e5e0;
}

aside.expanded > button {
	right: 161px;
	top: 0;
}

aside.expanded a:link:after  {
	content:'';
	background:none;
	width:auto;
	height:auto;
}
header aside.expanded {
	overflow: auto;
	height: auto;
	padding: 10px;
	margin-right: 0;
	transition: height 0.2s;
	width: 460px;
	background: #abaeb0;
}

aside h2,aside h3 {
	font-size: 1em;
	margin: 5px 5px 0 10px;
	border-bottom: 1px solid #6a4701;
	padding-bottom: 24px;
	float:  left;
}

aside table {
	width: 100%;
	padding: 8px;
	margin-bottom: 20px;
}

aside td[colspan='3'] {
	max-height: 0;
	border: 1px solid #333;
	margin: 5px;
	padding:  5px;
	background: #fed795;
	font-size:  75%;
	max-width:  150px;
	overflow:  auto;
}
aside td[colspan='2']:before {
	color:#333;
}

aside table tfoot td {
	font-size: 18px;
	text-align:  right;
}

aside table td:nth-of-type(3) {
	text-align:  right;
	width: 85px;
}

aside table td:nth-of-type(4) {
	text-align:  right;
	width: 62px;
}
aside table td:nth-of-type(4) button {
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0px 1px 0 0px;
	border: 1px solid #0f0f0d;
	color: #fff;
	background: #421f63;
	transition:  background 0.2s;
	font-size: 23px;
}

aside div {
	width: 18px;
	height: 18px;
	display:  block;
	background: #B00C12;
	position:  absolute;
	border-radius: 10px;
	right:2px;
	top: 9px;
	transition: all 0.2s;
	font-size: 14px;
}

aside div p {
	margin: 1px auto;
	padding: 2px 0;
	color: #fff;
	text-align:  center;
	font-weight: bold;
}
aside.expanded div {
		border-radius:  5px;
}

aside.expanded div p:before {
	content: '';
}

aside.expanded div p:after {
	content: ' ';
}

aside table td:nth-of-type(3):before {
	content: '£';
	margin-right: 3px;
}

aside table tfoot td:before {
	content: 'Subtotal: £';	
}

main section form input[type='text'],
main > form input, main > form textarea {
	width: calc(100% - 180px);
	float:  right;
	padding: 10px;
	margin: 10px;
}

.product section form > input, main > form input[type='submit'] {
	max-width: 150px;
	float:right;
	background: #2e1846;
	border: 1px solid #0f0f0d;
	padding: 10px;
	margin: 14px 10px;
	color: #e0e5e0;
}

main.contact section form label,
main > form label,#checkout label {
	float: left;
	text-align:  right;
	width: 120px;
	padding-bottom: 29px;
	padding-top: 18px;
	clear: left;
	max-width:  195px;
}

main section #checkout {
	background:  white;
	float:  left;
	width: calc(100% - 40px);
	padding: 20px;
}

body > footer {
	float:left;
	width:100%;
	background: #e0e5e0;
}

footer > a svg {
	width:100px;
	float:left;
	margin:10px;
}

footer > * {
	padding: 20px 10px;
}

footer > img {
	padding: 20px 0;
	float:left;
	width: 100px;
}

footer > section {
	float: right;
	display: inline-block;
}

footer nav {
	display: inline-block;
	margin: 20px auto;
}


@media (max-width: 1199px) {
	#maincontent {
		background:none;
	}

	header svg {
	 	height: 75px;
	 	margin-left: 20px;
	}
	header > a {
		float:left;
	}
	header aside {
		width: 190px;
		top: 20px;
	}
	header h1 {
	  margin: 0 auto;
	  color: #274060;
	  display: inline-block;
	  text-align: center;
	  font-stretch: condensed;
	}
	header form {
		width: calc(100% - 340px);
		margin: 10px 160px 0 130px;
		display: block;
	}

}

@media (max-width: 739px) {

	header > nav > a {
		width: calc(20% - 4px);
	}
	nav#categories {
		font-size: 16px;
		margin: 0;
	}

	header > a {
		margin: 0 10px;
	}

	header a > svg {
	  	width: 70px;
	  	height: 65px;
	}
	header h1 {
		display: inline-block;
		margin: 20px 0;
	}

	header aside {
		top: 30px;
		width: 40px;
	}
	
	header aside table {
		padding-top: 30px;
	}

	header aside.expanded  {
		min-width: 50%;
	}

	header form {
		width: calc(100% - 40px);
		margin: 10px auto;
	}
	footer section h5 {
	  margin: 0;
	}
	footer nav {
	  margin: 10px 0 0;
	  padding: 10px;
	}
	#featured > figure {
	  width: calc(50% - 60px);
	}
}


@media (max-width: 559px)  {
body > section > section h2 {
	font-size:90%;
	margin:5px auto;

}
	header {
		position:  fixed;
		top: 0;
		width: 100%;
	}

	header > nav > section {
		position:relative;
		float: right;
		left: 0;
		width: calc(100% - 50px);
	}
	header > nav > section > nav {
		display:block;
		width: calc(100%);
		float:  right;
	}

	#categories.expanded > section nav a {
		color: #2e1846;
	}

	header form.expanded fieldset {
		border:none;
		padding: 0;
		margin: 5px;
	}

	header aside.expanded {
		width: calc(100% - 20px);
		z-index:  110;
		position:  relative;
		color: #2e1846;
		float:  left;
		overflow-y: auto;
		max-height: calc(100vh - 100px);
		padding-bottom: 25px;
	}
	header aside {
		width: 40px;
		top: 0;
	}
	header aside button {
		opacity:0;
	}
	header aside.expanded button {
		opacity:1;
	}
	aside > a:link {
		position:absolute;
		top:0px;
		right:0;
		font-size:0;
	}

	aside div {
		width: 16px;
		height: 16px;
		top: 0;
		right: 0;
	}
	aside div p {
		font-size: 14px;
		margin: 0;
		padding: 1px 0;
	}

	aside.expanded div {
		right: 8px;
		top: 50px;
		width: 49px;
		height: 19px;
		border-radius:  5px;
		text-align:  center;
	}
	aside h2 {
		display: none;
	}

	section#featured > figure {
		width: calc(100%  - 4em);
		margin: 1em;
	}
	
	section#featured img {
		width: 100%;
	}
	/* https://css-tricks.com/using-multi-step-animations-transitions/ */
	nav#categories.expanded {
		width: 100%;
		font-size: 14px;
		margin: 0;
		height: 411px;
		padding: 0;
		z-index: 100;
		position:  relative;
		right: 0;
		cursor:  inherit;
		background: #e0e5e0;
		left: 0;
		transition: 
			height 0.1s 0.2s, 
			width 0.1s 0.1s, 
			left 0.2s 0.01s, 
			background 0.1s 0.1s;
	}

	header form fieldset {
		margin: 40px auto;
	}

	form.expanded:before,
	aside.expanded:before, 
	nav#categories.expanded:before {
		font-size: 18px;
		padding: 3px;
		top:0;
		float: right;
		cursor: pointer;
		line-height: 21px;
		height: 40px;
	}
	#categories .expanded a {
		color:black;
	}
	aside.expanded:before {
		content: url('../img/cart.svg');
		
	}

	form.expanded:before {
		content: url('../img/search.svg');
	}

	nav#categories a:after, header .entryForm:before {
		content: '';
	}
	header > nav > a {
		width: calc(100% - 50px);	
	}
	header > nav > section > nav > a {
		width:100%;
		margin: 0;
	}
	header > nav > a, header > nav > section > nav > a {
		text-align: center;
		padding: 6px 0;
		font-size: 1.5em;
		float: left;
		color: #0f0f0d;
	}
	header > nav.expanded > a, header > nav.expanded > section > nav > a {
		float:right;
		border-bottom: 1px solid #0f0f0d;
		color: #2e1846;
	}
	header > nav.expanded > a:hover {
		background: #2e1846;
	}
	header > nav > section > nav > a:hover {
		background: #abaeb0;
		color: #e0e5e0;
	}

	nav#categories {
		width: 100%;
		overflow: hidden;
		height: 50px;
		text-align: left;
		background: #e0e5e0;
		position: absolute;
		left: calc(-100% + 50px);
		top: 0;
		cursor:  pointer;
		transition: none;
		margin: 0;
		padding:  0;
		border: 0;
	}

	nav#categories:before {
		content: url('/img/menu.svg');
		height: 40px;
		margin: 5px 5px;
		padding:  0;
		float:  right;
	}
	
	nav#categories.expanded:hover {
		left:  0;
	}
	nav#categories.expanded:before,
	nav#categories.expanded:hover:before {
		float:left;
		font-size:  40px;
		content:  '-';
	}

	nav#categories:hover:before {
		height: 30px;
	}
	header > a {
		margin-left: 10px;
	}
	header a > svg {
		height: 46px;
		width: 100px;
		margin-top: 2px;
		margin-bottom: -2px;
	}

	header h1 {
		position: absolute;
		left: -1000%;
	}
	h1:before{
	}
	nav#skipnavigation {
		display:none;
	}

	main, #maincontent {
		padding: 0;
		background: #e0e5e0;
		margin-top: 50px;
	}	

	main#terms,main#blogposts {
		margin-top: 142px;
		padding:  20px;
	}
	header a > img {
		height: 40px;
		margin: 0 0 -6px;
	}
	
	header form {
		padding: 5px;
		margin-right: 0;
		margin-top: 0;
		position: absolute;
		width: 40px;
		overflow:  hidden;
		height: 40px;
		right: 50px;
		cursor:  pointer;
		transition:background 0.2s;
	}

	header form:before {
		content:url('../img/search.svg');
		height: 40px;
	}

	header form:hover {
		background: #274060;
	}

	header form.expanded:hover {
		background: #274060;
	}

	header form:hover:before {
		content: url('../img/search.svg');
	}

	header form input {
		float: left;
		width: calc(100% - 100px);
	}

	header form label {
		font-size: 0;
		left: auto!important;
	}
	
	form.expanded {
		right:0;
		width: calc(100% - 20px);
		position: relative;
		transition: background 0.2s, height 0.2s;
		background: #e0e5e0;
		margin: 5px;
		height:  auto;
	}

	footer nav {
		display:block;
		margin: 0 auto;
	}
	footer section h5 {
		margin:0;
	}

}

@media (min-width: 1200px) {

	header > a {
		padding-left: 20px;
		float:  left;
	}
  	header form {
		width: calc(100% - 195px);
		display: block;
		margin: 10px auto;
	}

	header > div {
	display:  none;
	}

	header form fieldset {
		width: calc(100% - 230px);
		text-align: left;
	}

	#aoptions {
		display:  block;
		margin: 0 auto;
	}

	header aside {
		width: 190px;
		top: 20px;
	}
	header aside.expanded {
		width: 40%;
		top: 30px;
	}	

}